* {
    box-sizing: border-box;
}

body {
    height: 100%;
}
.header-search-box {
    z-index: 100;
}
.navbar-search{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.opn-search {
    font-size: larger;
    background: transparent;
    border: 0;
    color: #111;
    cursor: pointer;
    margin: auto;
}

.header-search-box .search-box {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(73, 73, 73, 0.95);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: translate(0px, -100%) scale(0, 0);
    -moz-transform: translate(0px, -100%) scale(0, 0);
    -o-transform: translate(0px, -100%) scale(0, 0);
    -ms-transform: translate(0px, -100%) scale(0, 0);
    transform: translate(0px, -100%) scale(0, 0);
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: 11000;
}

.header-search-box .search-box .close {
    background-color: transparent;
    box-shadow: none;
    color: #942130;
    font-size: 40px;
    font-weight: bold;
    opacity: 1;
    padding: 10px 17px;
    position: fixed;
    right: 20px;
    top: 15px;
    text-shadow: none;
    border: none;
    cursor: pointer;
}

.header-search-box .search-box form input {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: transparent;
    border-color: -moz-use-text-color -moz-use-text-color #fff;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 1px;
    color: #fff;
    font-size: 28px;
    font-weight: lighter;
    left: 0;
    right: 0;
    margin: 0px auto;
    outline: medium none;
    padding-bottom: 7px;
    position: absolute;
    top: 45%;
    width: 36%;
    line-height: 60px;
}

input[type='search']::-webkit-search-cancel-button {
    display: none;
}

.header-search-box .search-box .confirmed {
    display: inline-block;
    line-height: 60px;
    height: 60px;
    position: absolute;
    top: 49%;
    cursor: pointer;
    transform: translate(0%, -55%);
    background: transparent;
    color: #44b422;
    border: 0;
    font-size: 20px;
}

.header-search-box .search-box .clear {
    display: inline-block;
    line-height: 60px;
    height: 60px;
    position: absolute;
    top: 49%;
    cursor: pointer;
    transform: translate(0%, -55%);
    background: transparent;
    color: #942130;
    border: 0;
    font-size: 20px;
}

.header-search-box .search-box.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
    -o-transform: translate(0px, 0px) scale(1, 1);
    -ms-transform: translate(0px, 0px) scale(1, 1);
    transform: translate(0px, 0px) scale(1, 1);
    opacity: 1;
    filter: alpha(opacity=100);
}

.header-search-box .search-box form::-webkit-input-placeholder {
    color: rgba(219, 187, 10, 0.6);
}

.header-search-box .search-box form:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(219, 187, 10, 0.6);
}

.header-search-box .search-box form::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(219, 187, 10, 0.6);
}

.header-search-box .search-box form:-ms-input-placeholder {
    color: rgba(219, 187, 10, 0.6);
}

.change-lang{
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}